/* some colors used*/
:root{
  --light_blue_color: #5Ab9ea;
  --light_cyan_color: #84ceeb;
  --darker_color: #5680e9;
  --more_darker_color: #0E2784;/*#0E2784 || #17329C*/
  --gray_color: #c1c8e4;
  --purple_color: #8860d0;

  --navigation_background_color: #5ab9ea;
  --body_background_color: #c1c8e4;
}

.header-people{
  margin-bottom: 2%;
  background-color: var(--darker_color);
}

.main-page-people{
  margin-left: 20%;
  margin-right:20% ;
  background-color: var(--light_cyan_color);
  border: 3px var(--more_darker_color) solid;
}

.btn-ppl{
  padding: 5px;
}

.people-table{
  width: 100%;
  height: auto;
  text-align: left;
  align-content: center;
  padding: 2%;
}

.people-tr:nth-child(1) { 
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
  width: 100%;
}

tr.solidline {
  border-bottom: 2px solid var(--more_darker_color);
  /* margin-bottom: 5px; */
  /* margin-top: 5px; */
}

tbody tr:nth-child(odd) {
  background-color: var(--light_blue_color);
}

/* tbody tr:nth-child(even) { */
  /* background-color: blue; */
/* } */
