/* some colors used*/
:root{
  --light_blue_color: #5Ab9ea;
  --light_cyan_color: #84ceeb;
  --darker_color: #5680e9;
  --more_darker_color: #0E2784;/*#0E2784 || #17329C*/
  --gray_color: #c1c8e4;
  --purple_color: #8860d0;

  --navigation_background_color: #5ab9ea;
  --body_background_color: #c1c8e4;
}

.header-people{
  margin-bottom: 2%;
  background-color: var(--darker_color);
}

.main-page-people{
  margin-left: 5%;
  margin-right:5% ;
  background-color: var(--light_cyan_color);
}

.btn-ppl{
  padding: 5px;
}

.people-table{
  width: 100%;
  height: auto;
  text-align: left;
  align-content: center;
}